# Environment
.env
.env.*
!.env.example
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg
.mypy_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test Files
test_objects/
**/test_objects/

# Logs
logs/
*.log
.log
.logs
firebase-debug.log*
ui-debug.log*
.firebase/
